<html>

<head>

    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="inputForm">
        <div class="form-cont">
            <div class="login-cont">
                <p class="text-login">Login</p>
            </div>
            <form autocomplete="off" action="/" method="POST" id="form" class="form">
                <div class="nameC">
                    <input type="name" class="name" id="name" name="name" aria-describedby="nameHelp"
                        placeholder="Username" /><i class="fa fa-user-o"></i></div>
                <div class="passwordC">
                    <input type="password" class="password" id="password" name="password" aria-describedby="passHelp"
                        placeholder="Password" /><i class="fa fa-key"></i></div>
                <div class="submitBtnC">
                    <div class="sec-btn">
                        <button class="submitBtn">LOGIN</button></div>
                </div>
            </form>
        </div>
        <div class="photo-cont">
            <p id="welcome">Welcome</p>
            <p id="text">Log in to upload your new post </p>
        </div>

    </div>

</body>

</html>